__pycache__/
*.pyc
*.pyo

# Logs
logs/
*.log

# Venvs
.venv/
venv/

# Credentials / secrets
cred.py

# Runtime storage artifacts (ignore raw data, keep scripts/configs)
storage/emas/
storage/flags/
storage/markers/
storage/objects/
storage/csv/
storage/data/
storage/data 2/ 
# This (storage/data 2/) is specifically for the work computer version

# Keep these JSONs tracked if needed
!storage/message_ids.json
!storage/week_ecom_calendar.json